============
Requirements
============

This version of pg-python is known to work with the following versions of
PostgreSQL:

 - PostgreSQL 8.3
 - PostgreSQL 8.4
 - PostgreSQL 8.5 (Alias to 9.0)
 - PostgreSQL 9.0

And the following versions of Python:

 - Python 3.1
 - Python 3.2

Python's C-APIs are fairly stable, so newer versions of Python are expected to
normally work. However, PostgreSQL's C-APIs and header files can be adjusted
from minor release to minor release. If the target version of PostgreSQL is not
listed above, it should not be expected to work.
